.container {
    display: table;
    margin: auto
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 10px 15px;
    border-bottom: 1px solid grey;
}

.thButton {
    padding: 10px 5px;
}

A {
    text-decoration: none;
}